<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">You can see more of my work there!</h2>
                <hr class="primary">
                    <p>Also feel free to contact me through these sites</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://rainotc.itch.io/">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.itchio_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.youtube.com/@_rainot_/featured">
            <i class="fa fa-youtube fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.youtube_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.instagram.com/_rainot_/">
                <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.instagram_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/RainotC">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>
        </div>
    </div>
</section>
